<form nz-form [formGroup]="addForm" (ngSubmit)="addProduct()">
    <nz-form-item>
        <nz-form-label nzSm="8" nzRequired nzFor="name">Désignation</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="Please input your username!">
            <input id="name" class="form-control rounded-pill" type="text" nz-input formControlName="name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSm="8" nzRequired nzFor="code">Decription</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="Please input your username!">
            <textarea id="description" type="text" class="rounded-pill" nz-input formControlName="description"></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzSm="8" nzRequired nzFor="code">Unity</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="Please input your username!">
            <select class="form-control rounded rounded-pill" formControlName="unity" name="unity" id="unity">
                <option *ngFor="let item of unitiesList" value="{{item.code}}">{{item.name}}</option>
            </select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSm="8" nzRequired nzFor="unit_price">Prix HT</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="S'il vous plait entrez un prix!">
            <input id="unit_price" min="0" type="number" (change)="updatePrice($event)" class="rounded-pill" nz-input formControlName="unit_price" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired nzSm="8">TVA</nz-form-label>
        <nz-form-control nzSm="12" nzRequired nzErrorTip="Please select your TVA!">
            <select class="form-control rounded rounded-pill" (change)="updatePrice($event)" formControlName="vat" name="vat" id="vat">
                <option *ngFor="let item of tvaList" value="{{item.code}}">{{item.value}}</option>
            </select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSm="8" nzFor="prix_ttc">Prix TTC</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="S'il vous plait entrez un prix TTC!">
            <input disabled id="prix_ttc" nz-input [(value)]="prixTTC" type="number" class="rounded-pill" />
        </nz-form-control>
    </nz-form-item>
    <div class="px-5 row text-end">
        <button nz-button nzType="primary" type="submit">Ajouter</button>
    </div>
</form>
