<div nz-row class="m-5">
    <nz-card [nzHoverable]="true" style="width:500px;" nzTitle="{{productDetails['name']}}">
        <div class="row">
            <div class="col-6">
                <span class="fw-bold fs-5"> Prix HT : </span> <br>
                <span class="fw-bold fs-5"> TVA (%) : </span> <br>
                <span class="fw-bold fs-5"> Prix TTC (%) : </span><br>
            </div>
            <div class="col-6">
                <span class=" fs-5"> {{productDetails['prix_ht'] }} </span> <br>
                <span class=" fs-5"> {{productDetails['vat'] }} </span> <br>
                <span class=" fs-5"> {{productDetails['prix_ttc'] }}</span><br>
            </div>
        </div>

    </nz-card>
</div>