<form nz-form [formGroup]="editProductForm" (ngSubmit)="updateProduct()">
    <nz-form-item>
        <nz-form-label nzSm="8" nzRequired nzFor="name">Désignation</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="Please input your username!">
            <input id="name" class="form-control rounded-pill" type="text" nz-input formControlName="name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSm="8" nzRequired nzFor="code">Déscription</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="Please input your username!">
            <textarea id="description" type="text" class="rounded-pill" nz-input formControlName="description"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSm="8" nzRequired nzFor="code">Unity</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="Please input your username!">
            <select class="form-control rounded rounded-pill" formControlName="unity" name="unity" id="unity">
                <option *ngFor="let item of uitiesList" value="{{item.code}}">{{item.name}}</option>
            </select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSm="8" nzRequired nzFor="unit_price">Prix HT</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="Please input your username!">
            <input id="unit_price" type="number" class="rounded-pill" nz-input formControlName="unit_price" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSm="8">TVA</nz-form-label>
        <nz-form-control nzSm="12" nzRequired nzErrorTip="Please select your TVA!">
            <select class="form-control rounded rounded-pill"  formControlName="vat" name="vat" id="vat">
                <option *ngFor="let item of vatsList" value="{{item.code}}">{{item.value}}</option>
            </select>
        </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
        <nz-form-label nzSm="8" nzRequired nzFor="prix_ttc">Prix TTC</nz-form-label>
        <nz-form-control nzSm="12" nzErrorTip="Please input your username!">
            <input id="prix_ttc" type="number" disabled class="rounded-pill" nz-input [(value)]="prixTTC" />
        </nz-form-control>
    </nz-form-item> -->
    <div class="px-5 row text-end">
        <button nz-button nzType="primary" type="submit">Modifier</button>
    </div>
</form>
